<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<h1>Change employee information</h1>
		<div>
			<form th:object="${employee}" th:action="@{../saveemployee}" action="#" method="post">
				<input type="hidden" id="id" th:field="*{id}"/>
				<label for="firstname">First name</label>
				<input type="text" id="firstname" th:field="*{firstName}" class="form-control"/>
				<label for="lastname">Last name</label>
				<input type="text" id="lastname" th:field="*{lastName}" class="form-control"/>
				<label for="birthdate">Date of birth</label>
				<input type="text" id="birthdate" th:field="*{birthdate}" class="form-control"/>
				<label for="position">Position</label>
				<input type="text" id="position" th:field="*{position}" class="form-control"/>
				<label for="salary">Salary</label>
				<input type="text" id="salary" th:field="*{salary}" class="form-control"/>
				<label for="catlist">Department</label>
				<select id="catlist" th:field="*{department}" class="form-control">
					<option th:value="null"></option>
					<option th:each="department: ${departments}"
						th:value="${department.id}"
						th:text="${department.name}"></option>
				</select>
				<input type="submit" value="Save"></input>
			</form>
			<form th:object="${employee}" th:action="@{/cancel}" action="#" method="post">
				<input type="submit" value="Cancel"></input>
			</form>
		</div>
	</body>
</html>